<li class="product-card swiper-slide">
    <div class="price-label">
        <p class="amount">${{ product.price | money_without_currency | divided_by: 30 | round: 2 }}</p>
        <p class="term">/day</p>
    </div>
    <div class="image-flex-wrapper">
        <img
            src="{{ product.featured_image | img_url: 'large' }}"
            width="270"
            height="217"
            loading="lazy"
            alt="{{ product.title | escape }}"
            class="product-card-image"
        >
    </div>
    <ul class="product-tag-list">
        {% for tag in product.tags %}
            <li class="product-tag">
                {% render 'icon', name: tag, icon_fill: icon_fill %}
                <p class="tag-name">{{ tag }}</p>
            </li>
        {% endfor %}
    </ul>
    <p class="product-title">{{ product.title }}</p>
    <p class="product-price">${{ product.price | money_without_currency }}</p>
</li>